---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: 'September 2025 - Present',
        title: 'IT Systems & Software Engineer at Laboratorio del Sueño y Neurociencias - UADY',
        description: "Spearheaded the laboratory's digital transformation by migrating paper-based workflows to a custom web ecosystem, while simultaneously managing the technical infrastructure and maintenance of specialized medical devices.",
        details: [
            "Architected a cost-efficient web platform tailored to the lab's constraints",
            "Managed the laboratory's IT ecosystem, performing maintenance on specialized hardware and configuring medical equipment software",
            "Conducted staff training on software usage and equipment operations to ensure continuity."
        ]
    },
    {
        date: 'November 2024 - May 2025',
        title: 'Software Engineering Intern at Facultad de Matemáticas - UADY',
        description: "Optimized critical administrative workflows by re-engineering scheduling algorithms and automating document management systems.",
        details: [
            "Re-engineered a Java-based scheduling algorithm to process XML and CSV data, successfully generating structured faculty timetables with accurate classroom and instructor assignments.",
            "Developed an automated workflow using Microsoft Power Automate to manage the digital signing and approval process for faculty event documentation.",
            "Transformed disorganized data sources into clean, actionable formats, significantly reducing manual administrative overhead for faculty staff."
        ],
    },
    {
        date: 'January 2024',
        title: 'IT Support Intern at Facultad de Matemáticas - UADY',
        description: "Led a large-scale hardware optimization for the faculty's computer labs, modernizing the infrastructure to improve its performance.",
        details: [
            "Executed a massive hardware upgrade by replacing legacy HDDs with SSDs, significantly improving system responsiveness and boot times for faculty students.",
            "Performed dual-boot OS installations and specialized software deployment for academic use.",
            "Performed preventive and corrective maintenance to ensure high availability of computing resources for the entire student body."
        ],
    }
];
---


<ol class="relative border-s border-default ml-2">
    {EXPERIENCE.map(experience => (
        <li class="mb-10 ms-4">
            <ExperienceItem { ... experience } />
        </li>
    ))}
</ol>

