<header class="mx-auto flex justify-center items-center px-5 py-2 mt-3 z-10 bg-black/50 backdrop-blur-sm rounded-full sticky top-3">

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a class="px-3 py-2 rounded-full hover:bg-mine" href="#about">About</a>
        <a class="px-3 py-2 rounded-full hover:bg-mine" href="#education">Education</a>
        <a class="px-3 py-2 rounded-full hover:bg-mine" href="#experience">Experience</a>
        <a class="px-3 py-2 rounded-full hover:bg-mine" href="#projects">Projects</a>
    </nav>
</header>